@{
    ViewData["Title"] = "Home Page";
}



@*<form>
    Ticket Number:
    <input type="text" name="ticketNumber" /> <br>
    Name: 
    <input type="text" name="name" /><br>
    Type: 
    <input type="text" name="type" /><br>
    Date: 
    <input type="date" name="date" /><br>
    Purpose: 
    <input type="text" name="purpose" /><br>

    <table>
        <tr>
            <th> Description</th>
            <th> Quantity</th>
            <th> Purchase Price</th>
            <th> TechStop Purchase?</th>
        </tr>
    </table><br>

    Shipping: 
    <input type="number" name="shipping" /><br>
    Quote Prepared By: 
    <input type="text" name="preparedBy" /><br>

</form>
<div class="form-group">
    <input type="submit" value="Create" class="btn btn-default" />
</div>*@

